
.icon1:before,.icon1:after {
    content: "";
    display: table;
}
.icon1:after {
    clear: both;
}
.icon1 {
    float:left;
    zoom:1;
}
.icon1 li {
    float: left;
    position: relative;
}
.icon1 li:last-child{
    border-right:none;
}
.icon1 li:hover > a {
    color: #fafafa;
}
*html .icon1 li a:hover { /* IE6 only */
    color: #fafafa;
}
.icon1 ul {
    width:300px;
    margin: 20px 0 0 0;
    _margin: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top:75px;
    z-index: 1;
    right: -140px;
    background: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 6px #aaa;
    -webkit-box-shadow: 0px 2px 6px #aaa;
    -moz-box-shadow: 0px 2px 6px #aaa;
    -o-box-shadow: 0px 2px 6px #aaa;
}
.icon1 li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
    z-index: 9999;
}
.icon1 ul ul {
    top: 6px;
    left: 158px;
    margin: 0 0 0 20px;
}
.icon1 ul li {
    float: none;
    display: block;
    border: 0;
}
.icon1 ul li:first-child{
    border-top:none;
}
.icon1 ul li:first-child a{
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
}
.icon1 ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.icon1 ul a {
    _height: 10px; /*IE6 only*/
    white-space: nowrap;
    float: none;
    text-transform: none;
}
.active-icon{
    display: block;
}
.icon1 ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 45%;
    top: -30px;
    border-left: 10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #f0f0f0;
}
.icon1 ul ul li:first-child a:after {
    left: -100px;
    top: 0%;
    margin-top: -6px;
    border-left: 0;
    border-bottom:20px solid transparent;
    border-top: 20px solid transparent;
    border-right:20px solid #323757;
}
/* Mobile */
.icon1-trigger {
    display: none;
}
.sub-icon1 img{
    border:none;
    display:inline-block;
    vertical-align:middle;
}
.c1{
    background: url(../images/tag.png) no-repeat 0px 0px;
    width:42px;
    height:42px;
    display: inline-block;
    vertical-align: middle;
}
.c2{
    background: url(../images/cart.png) no-repeat 0px 1px;
    width:42px;
    height:42px;
    display: inline-block;
    vertical-align: middle;
}
.icon1 .profile_img {
    margin-top: 3px;
}
.sub-icon1 ul li h3{
    text-align:center;
    font-size: 1.3em;
    color:#399FB8;
    text-transform:uppercase;
    margin-bottom: 4%;
}
.sub-icon1 ul li p{
    text-align:center;
    font-size: 0.8725em;
    color: #555555;
    line-height: 1.8em;
}
.sub-icon1.list{
    padding: 20px 0px;
}
.sub-icon1 ul li p a{
    color: #00405d;
}
.sub-icon1 ul li p a:hover{
    color: #555555;
    text-decoration:underline;
}
@media (max-width:1366px){
    .icon1 ul {
        top: 88px;
    }
}
@media (max-width:1024px){
    .icon1 ul {
        top: 75px;
    }
}
@media (max-width:800px){
    .icon1 ul {
        top:57px;
    }
}
@media (max-width:768px){
    .icon1 ul {
        top: 64px;
    }
}
@media (max-width:640px){
    .icon1 ul {
        top: 64px;
    }
}
@media (max-width:480px){
    .icon1 ul {
        top: 64px;
    }
}
@media (max-width:320px){
    .icon1 ul {
        top: 64px;
    }
}
.icon1 ul {
    right: -120px;
    width: 275px;
}